@import "../bourbon/bourbon";

$bg-color:       #e3e3e3;
$main-col-width: 600px;
$font-stack:     'Nunito', sans-serif;
$font-color:     #304080;
$font-color: #e3e3e3;
$number-margin:  25px;

body {
  // background-color: $bg-color;
  @include background-image(linear-gradient(to left, #fff, #f4f5f7));
  color: $font-color;
  font-family: $font-stack;
  margin-bottom: 60px;
  margin-top: 50px;
}

#column {
    // background-color: #52B3D9;
    background: linear-gradient(to bottom, #52B3D9, #2574A9);
    // border: 6px solid #52B3D9;
    height: 1000px;
  margin: 0 auto;
  max-width: $main-col-width;
  text-align: center;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

#about {
    @include animation(slideRight 1s ease-out);
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left: 5px;
    padding: 10px;
    position: fixed;
    top: 5px;
    width: 150px;
}

@include keyframes(slideDown) {
    0% {
        @include transform(translatey(-150px));
    }
    50% {
        @include transform(translatey(8px));
    }
    65% {
        @include transform(translatey(-4px));
    }
    100% {
        @include transform(translatey(0px));
    }
}

#left-num,
#right-num {
    @include animation(slideDown 0.6s ease-out);
    font-size: 150px;
}

#left-num {
    position: fixed;
    top: 50px;
    left: 450px;
    margin-right: $number-margin;
}

#right-num {
    position: fixed;
    top: 50px;
    right: 450px;
    margin-left: $number-margin;
}

#operator {
    position: fixed;
    top: 100px;
    font-size: 50px;
}

#timer {
    position: fixed;
    left: 550px;
    top: 350px;
    font-size: 45px;
    margin-top: 65px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

#answer-input {
    position: fixed;
    top: 250px;
    left: 700px;
}

#answer-input {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 150px;
}

#alert-text {
    font-size: 30px;
}

.error-alert {
    color: red;
}

.success-alert {
    color: green;
}

#footer {
    // background-color: white;
    bottom: 0;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 100%;

    p {
        margin-top: 20px;
    }
}
