@import "../bourbon/bourbon";

$bg-color:       #e3e3e3;
$main-col-width: 600px;
$font-stack:     'Nunito', sans-serif;
$font-color:     #e3e3e3;
$success-color:  #a2ded0;
$error-color:    #F1A9A0;
$number-margin:  25px;

#body {
  background-color: $bg-color;
  color: $bg-color;
  font-family: $font-stack;
  margin-bottom: 60px;
  margin-top: 50px;
}

#column {
    background: linear-gradient(to bottom, #52B3D9, #52B3D9 60%, #2574A9);
    color: #e3e3e3;
    height: 600px;
    margin: 0 auto;
    max-width: $main-col-width;
    text-align: center;
}

@include keyframes(slideRight) {
    0% {
        @include transform(translateX(-150%));
    }
    50%{
        @include transform(translateX(8%));
    }
    65%{
        @include transform(translateX(-4%));
    }
    80%{
        @include transform(translateX(4%));
    }
    95%{
        @include transform(translateX(-2%));
    }
    100% {
        @include transform(translateX(0%));
    }
}

#about {
    @include animation(slideRight 1s ease-out);
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: black;
    left: 5px;
    padding: 10px;
    position: fixed;
    top: 5px;
    width: 150px;
}

@include keyframes(slideDown) {
    0% {
        @include transform(translatey(-150px));
    }
    50% {
        @include transform(translatey(8px));
    }
    65% {
        @include transform(translatey(-4px));
    }
    100% {
        @include transform(translatey(0px));
    }
}

#left-num,
#right-num {
    @include animation(slideDown 0.6s ease-out);
    font-size: 150px;
}

#left-num {
    margin-right: $number-margin;
}

#right-num {
    margin-left: $number-margin;
}

#operator {
    font-size: 50px;
}

#timer {
    font-size: 45px;
    margin-top: 65px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

#answer-input {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 150px;
}

#alert-text {
    font-size: 30px;
}

.error-alert {
    color: $error-color;
}

.success-alert {
    color: $success-color;
}

#footer {
    bottom: 0;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 100%;

    p {
        color: black;
        margin-top: 20px;
    }
}
